.body {
    width: 100% !important;
    margin: auto !important;
}
.items {
    text-align: right;
}
.user {
    text-align: right !important;
    margin-top: 20px;
    margin-bottom: 50px;
}
.productheader {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.productbody {
    padding-bottom: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.order-summary {
    padding-bottom: 17px !important;
}
.removepadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.continue-shopping {
    text-decoration: none !important;
}
.continue-shopping-para {
    padding-top: 50px !important;
}
.order-summary-colored {
    background-color: #F6F6F6;
    padding-top: 5% !important;
}
.products-plain {
    padding-top: 5% !important;
}
.products {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
@media(max-width: 441px) {
    .products {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
.checkout {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.product-header-each {
    text-align: right;
}
/* button {
    background: none !important;
    border: none !important;
} */